.offer {
    &-header {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: flex-end;
    }

    &-square-purple {
        width: 100%;
        height: 100%;
        background: #7d146c;

        &-content {
            padding: 100px;
        }
    }

    &-date, &-contrat, &-pays {
        color: pink;
    }

    &-intitule {
        font-family: 'heavyOblique';
        font-size: 3em;
        color: $white;
    }

    &-main {
        margin-top: 80px;
    }
    
    &-description, &-mission, &-profil {
        font-size: 1.2em;
    }
}

.offer-btn {

    &-content {
        width: 230px;
        border-radius: 50px;
        padding: 15px;
        font-family: 'heavyOblique';
        font-size: 1.2em;
        color: $white;
        background-color: $black;
        text-align: center;
    
        position: fixed;
        bottom: 50px;
        right: 80px;
    
        &:hover {
            color: $black;
            background-color: $white;
        }
    }

    &-txt {
        width: 250px;
        padding-right: 50px;
    }
}
