.bgImg {
    &-press {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: flex-end;

        background: url('./../../assets/images/header/presse.jpeg') no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.press-title-icon {
    background: $greenGVA;

    &-inner {
        width: 100px;
        height: 100px;
        background-color: $purpleGVA;
        border-radius: 50%;
        position: relative;
        top: -115px;
        left: 15px;
    }
}

/* ----- */
.press {

    &-section {
        padding: 80px;
        min-height: 550px;

        &-title {
            display: flex
        }
    }

    &-icon {
        width: 70px;
        height: 70px;
        background: #f3251c;
    }

    &-title {
        font-family: 'heavyOblique';
        font-size: 3em;
        padding-left: 30px;
    }
}