.header {

    &-square {

        &-black {
            width: 30%;
            margin-left: 5vw;
            background-color: black;
            position: relative;

            &::after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }
        }

        &-title {
            color: white;
            font-family: 'heavyOblique';
            font-size: 3.2vw;
            line-height: 1;
            width: 60%;

            position: absolute;
            top: 50px;
            left: 50px;

            &-name {
                margin-top: 50px;
            }
        }
    }

    &-page {

        &-scroll {
            display: flex;
            flex-direction: column;
            align-items: center;

            position: absolute;
            bottom: 50px;
            left: 50px;
        }

        &-text {
            font-family: 'book';
            color: white;
            font-size: 0.9em;
        }

        &-arrow {
            width: 15px;
            margin-top: 8px;
        }
    }

    &-container {
        width: calc(100vh - 85px);
        height: calc(100vh - 30px);
        padding-top: 60px;
    }

    &-purple {
        width: 100%;
        height: 100%;
        background: radial-gradient(transparent calc(50vh - 45px), #7d146c calc(50vh - 44px));
    }

}

// RESPONSIVE HEADER

@media (max-width: 1023px) {
    .header {
        &-square {
            &-black {
                margin-left: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }

            &-title {
                font-size: 8.5vw;
                padding-top: 45%;
            }
        }

        &-container,
        &-purple,
        &-page-scroll {
            display: none;
        }
    }
}