.bgImg {
    &-privacy {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: flex-end;

        background: url('./../../assets/images/footer/privacy.png') no-repeat;
        background-size: cover;
        background-position: center;
    }
}