.bloc-articles {
    margin: 100px 190px;
}

.articles {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
}

.btn-home-news {

    background-color: $purpleGVA;
    position: absolute;

    &:hover {
        width: 230px;
        border-radius: 50px;
    }
}

.btn-txt-news {
    width: 290px;
    position: absolute;
    right: -60px;
}