.cursor {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    position: absolute;
    background-color: #7d146c;
    pointer-events: none;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 20px;
        width: 18px;
        height: 2px;
        background-color: white;
    }
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 20px;
        width: 18px;
        height: 2px;
        transform: rotate(90deg);
        background-color: white;
    }
} 

