@font-face {
    font-family: 'demi';
    src: url("../fonts/demi/FuturaPTDemi.otf"),
        url("../fonts/demi/FuturaPTDemi.woff")
}
@font-face {
    font-family: 'book';
    src: url("../fonts/book/FuturaPTBook.otf"),
        url("../fonts/book/FuturaPTBook.svg")
}

@font-face {
    font-family: 'condMedium';
    src: url("../fonts/condMedium/FuturaPTCondMedium.otf"),
        url("../fonts/condMedium/FuturaPTCondMedium.woff")
}

@font-face {
    font-family: 'heavyOblique';
    src: url("../fonts/heavyOblique/FuturaPTHeavyOblique.otf"),
        url("../fonts/heavyOblique/FuturaPTHeavyOblique.svg"),
        url("../fonts/heavyOblique/FuturaPTHeavyOblique.woff")
}

@font-face {
    font-family: 'lightOblique';
    src: url("../fonts/lightOblique/FuturaPTLightOblique.otf"),
        url("../fonts/lightOblique/FuturaPTLightOblique.svg"),
        url("../fonts/lightOblique/FuturaPTLightOblique.woff")
}

