*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'book', sans-serif;
}

$black: #000000;
$white: #FFFFFF;
$purpleGVA: #7d146c;
$greenGVA : #03bd80;
$redGVA: #f3251c;
$pinkGVA: #ff7fc7;
$yellowGVA: #ecca00;
$greyGVA: #d3d3d3;

@import 'fonts';
@import 'contentPage';
@import 'formStyle';
@import 'cursor';

@import '_navbar/navbar';
@import '_navbar/menuLateral';

@import '_home/headerHome';
@import '_header/headerPage';


@import '_home/articleLeft';
@import '_home/articleRight';
@import '_home/homeNews';
@import 'group';
@import '_home/homePress';


@import '_about/aboutPage';
@import '_activity/activityPage';
@import '_mission/missionPage';
@import '_governance/governancePage';

@import '_commitment/commitmentPage';

@import '_careers/offersPage';
@import '_careers/offerPage';
@import '_careers/candidatePage';
@import '_careers/candidacyForm';

@import '_filiale/addOfferForm';
@import '_filiale/filialePage';
@import '_filiale/connectionForm';

@import '_account/accountPage';

@import '_news/newsPage';
@import '_press/pressPage';
@import '_contact/contactPage';

@import '_inscriptionForm/inscriptionForm';

@import '_404/notFound';

@import '_footer/footer';
@import '_footer/mentions';
@import '_footer/privacy';
@import '_footer/cookies';

