nav {
    animation: fadeIn 0.5s ease-in;

    @keyframes fadeIn {

        0%,
        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

a {
    text-decoration: none;
    color: black;
}

.navbar-btn {

    &-filiale {
        width: 100px;
        text-align: center;
        font-family: 'heavyOblique';
        font-size: 1.2em;
        line-height: 1.1em;
        color: $white;
        position: fixed;
        top: 45px;
        right: 120px;
        z-index: 5;

        span {
            width: 100px;
            color: $black;
            font-family: 'heavyOblique';
            font-size: 1em;
            position: fixed;
            top: 46.5px;
            right: 121.5px;
            transition: .5s ease;
        }
    }

    &-logout {
        margin-right: 40px;

        span {
            margin-right: 40px;
        }
    }

    &-addOffer {
        margin-right: 170px;

        span {
            margin-right: 170px;
        }
    }
}


.logo {
    width: 120px;
    position: relative;
    top: 30px;
    left: 80px;
    position: absolute;
}

.burger {
    cursor: pointer;
    width: 30px;
    height: 35px;
    position: fixed;
    top: 45px;
    right: 70px;

    z-index: 5;

    span {
        width: 100%;
        height: 4.5px;
        background-color: black;
        border-top: 2px solid white;
        display: block;
        position: absolute;
        top: 50%;

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 4.5px;
            background-color: black;
            border-top: 2px solid white;
        }

        &::before {
            transform: translateY(-18px);
            transition: transform 0.5s ease-in-out;
        }

        &::after {
            transform: translateY(14px);
            transition: transform 0.5s ease-in-out;
        }
    }

    &.active span {
        background-color: transparent;
        border-top: none;
    }

    &.active span::before {
        animation: burgerBefore .3s ease-in both;
    }

    &.active span::after {
        animation: burgerAfter .3s ease-in both;
    }
}

@keyframes burgerBefore {
    0% {
        transform: translateY(-18) rotate(0);
    }

    50% {
        background-color: transparent;
        transform: translateY(0) rotate(0);
    }

    100% {
        background-color: transparent;
        transform: translateY(0) rotate(45deg);
    }
}

@keyframes burgerAfter {
    0% {
        transform: translateY(14) rotate(0);
    }

    50% {
        background-color: transparent;
        transform: translateY(0) rotate(0);
    }

    100% {
        background-color: transparent;
        left: 1px;
        transform: translateY(0) rotate(-45deg);
    }
}

// RESPONSIVE NAVBAR

@media (max-width: 1023px) {
    .logo {
        width: 70px;
        top: 20px;
        left: 20px;
        position: absolute;
        z-index: 1;
    }

    .burger {
        width: 15px;
        height: 15px;
        position: fixed;
        top: 20px;
        right: 20px;

        span::before {
            transform: translateY(-8px);
        }

        span::after {
            transform: translateY(5px);
        }
    }
}